body {
	background-image: url(images/background.jpg); 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 350px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#textbord {
	background-color: #ffffff;
	padding: auto;
	margin: auto;
	border: 7px solid #000000;
	opacity: 0.9;
	width: 600px;
	text-align: center;
}

@media (max-width: 1080px) {
	body {
	background-image: url(images/background.jpg); 
	background-attachment: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 18%;
}
div.textbord {
	padding: auto;
	margin: auto;
	border: 7px solid #000000;
	opacity: 0.9;
	width: 300px;
	}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
