body {
	background-image: url(images/background.jpg); 
	background-attachment: scroll;
	background-size: 1920px;
	background-repeat: no-repeat;
	margin-top: 350px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#textbord {
	background-color: #ffffff;
	padding: auto;
	margin: auto;
	border: 7px solid #000000;
	opacity: 0.9;
	width: 600px;
	text-align: center;
}

@media (max-width: 1080px) {
	body {
	background-image: url(images/background.jpg); 
	background-attachment: scroll;
	background-size: 1080px;
	background-repeat: no-repeat;
	margin-top: 15%;
}
	#textbord {
	padding: auto;
	margin: auto;
	border: 7px solid #000000;
	opacity: 0.9;
	width: 50%;
	}
}
